<nav class="bg-blue-500 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <!-- Logo/Brand -->
        <div class="flex-shrink-0">
          <a routerLink="/" class="text-xl font-bold">Angular </a>
        </div>
  
        <!-- Desktop Links -->
        <div class="hidden md:flex space-x-4">
          <a routerLink=""  routerLinkActive="activebutton" 
          [routerLinkActiveOptions]="{ exact: true }"  ariaCurrentWhenActive="page" class="button">Home</a>
          <a routerLink="/admin"   routerLinkActive="activebutton" ariaCurrentWhenActive="page" class="button">Admin</a>
          <a routerLink="/user"   routerLinkActive="activebutton" ariaCurrentWhenActive="page" class="button">Users</a>
          <a routerLink="/ngif"   routerLinkActive="activebutton" ariaCurrentWhenActive="page" class="button">Directives</a>
          <a routerLink="/htt"   routerLinkActive="activebutton" ariaCurrentWhenActive="page" class="button">Api</a>
          <a routerLink="/todo"   routerLinkActive="activebutton" ariaCurrentWhenActive="page" class="button">Todo</a>
        </div>
  
        <!-- Mobile Menu Button -->
        <button
          class="md:hidden focus:outline-none"
          (click)="isMenuOpen = !isMenuOpen"
          aria-label="Toggle Menu"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </button>
      </div>
    </div>
  
    <!-- Mobile Links -->
    <div
      *ngIf="isMenuOpen"
      class="md:hidden bg-blue-500 space-y-2"
    >

      <a routerLink="/" class="hover:text-gray-200">Home</a>
      <a routerLink="/admin" class="hover:text-gray-200">Admin</a>
      <a routerLink="/user" class="hover:text-gray-200">Users</a>
      <a routerLink="/ngif" class="hover:text-gray-200">Directives</a>
      <a routerLink="/htt" class="hover:text-gray-200">Api</a>

    </div>
  </nav>
  


  <router-outlet></router-outlet>